<nav class="navbar">
  <div class="nav-container">
    <div class="logo">
      <a href="/">Katie Wood</a>
    </div>
    <ul class="nav-links">
      <li>
        <%= link_to "#{root_path(anchor: 'projects')}" do %>
          <i class="nav-icon fa-solid fa-code"></i>
          <span class="nav-text">Projects</span>
        <% end %>
      </li>
      <li>
        <%= link_to "https://www.linkedin.com/in/katie-wood6319/", target: :_blank do %>
          <i class="nav-icon fa-brands fa-linkedin"></i>
          <span class="nav-text">LinkedIn</span>
        <% end %>
      </li>
      <li>
        <%= link_to "https://github.com/kwood6319", target: :_blank do %>
          <i class="nav-icon fa-brands fa-github"></i>
          <span class="nav-text">GitHub</span>
        <% end %>
      </li>
      <li>
        <% if I18n.locale == :ja %>
          <%= link_to url_for(locale: :en) do %>
            <i class="nav-icon fa-solid fa-language"></i>
            <span class="nav-text"> English </span>
          <% end %>
        <% else %>
          <%= link_to url_for(locale: :ja) do %>
            <i class="nav-icon fa-solid fa-language"></i>
            <span class="nav-text"> 日本語 </span>
          <% end %>
        <% end %>
      </li>
      <%# <li> %>
      <%# <a href="#contact"> %>
      <%# <i class="nav-icon fa-regular fa-envelope"></i> %>
      <%# <span class="nav-text">Contact Me</span> %>
      <%# </a> %>
      <%# </li> %>
    </ul>
  </div>
  <div>
    <% if I18n.locale == :ja %>
      <div class="warning">
        本サイトの日本語訳は現在調整中です。
      </div>
    <% end %>
  </div>
</nav>
<style>
  .warning {
    background: #f8d7da;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
  }
</style>
