<section class="header">
  <div class="header-content">
    <div class="header-image">
      <%= image_tag "main pic.jpg", alt: "Katie", class: "profilepic mb-3" %>
    </div>
    <div class="header-text">
      <h1>Katie Wood</h1>
      <h2>Full Stack Developer</h2>
      <p>I'm a Full Stack Developer based in Japan with a background in teaching.
        I enjoy solving problems, building user-friendly applications, and continuously improving my skills.</p>
      <div class="skills">
        <span class="pill">Ruby</span>
        <span class="pill">Rails</span>
        <span class="pill">JavaScript</span>
        <span class="pill">HTML</span>
        <span class="pill">CSS</span>
      </div>
    </div>
  </div>
</section>
<!-- PROJECTS -->
<section id="projects" class="projects">
  <h2>Projects</h2>
  <div class="project-grid">
    <% @projects.each do |project| %>
      <div class="project-card">
        <div class="project-image">
          <%= image_tag "#{project.title}.jpg", alt: "#{project.title} screenshot", class: "project-image" %>
        </div>
        <h3> <%= project.title %> </h3>
        <p> <%= project.description %> </p>
        <div class="skills">
          <% project.skills.each do |skill| %>
            <span class="pill-small"><%= skill %></span>
          <% end %>
        </div>
        <div class="project-links">
          <%= link_to "Repo", "#{project.link}", class: "btn", target: :_blank %>
          <%= link_to "Details", project_path(project), class: "btn-outline" %>
        </div>
      </div>
    <% end %>
  </div>
</section>
<!-- CONTACT -->
<section id="contact" class="contact">
  <h2>Contact Me</h2>
  <%= form_with url: "/contact", method: :post, local: true do |f| %>
    <%= f.text_field :name, placeholder: "Your Name" %>
    <%= f.email_field :email, placeholder: "Your Email" %>
    <%= f.text_area :message, placeholder: "Your Message" %>
    <%= f.submit "Send Message" %>
  <% end %>
</section>
